<html>
    <head>
        <title>Hello, world!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% load static %}
        <script src="{% static "collector/browserified-handlebars.js" %}"></script>
        <style>
            .spinner {
              animation: 1s rotate infinite linear;
            }


            @keyframes rotate {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
        </style>
  </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Hello, world</a></h1>
        </div>
        <div class="content container">
            Number of files uploaded: {{ num_files }}
            <form action="delete_files" method="post">
                {% csrf_token %}
                <div id="filelist_container"></div>
                <!-- Let's do this RESTy later -->
                <input type="submit" value="Delete Selected"/>
            </form>
            <form action="upload" method="post" enctype="multipart/form-data">
                Select file to upload:
                <input type="file" name="file" id="fileSelector" multiple/>
                <input type="submit" value="Upload" name="uploadButton"/>
            </form>
        </div>
        <script id="filelist_row_template" type="text/x-handlebars-template">
            {% verbatim %}
            <td><input type="checkbox" name="{{ file.id }}"></input></td>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ size }}</td>
            <td id="status_{{ id }}" class="file_status" data-orig-status="{{ processed }}">&nbsp;</td>
            <td><a href="javascript: return false;" class="process_button" data-id="{{ id }}" id="process_{{ id }}">Process</a></td>
            {% endverbatim %}
        </script>
        <script id="filelist_template" type="text/x-handlebars-template">
            {% verbatim %}
            <table class="table table-responsive table-striped">
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Size</th>
                <th colspan="2">Processed</th>
            {{#each files}}
            <tr id="row_{{ id }}">
                {{> filelist_row }}
            </tr>
            {{/each}}
            </table>
            {% endverbatim %}
        </script>
        <script type="text/javascript">
            (function() {
                var htmlError = '<span style="color: red;" class="glyphicon glyphicon-alert"></span>';
                var htmlProgress = '<span class="glyphicon glyphicon-refresh spinner"></span>';
                var htmlSuccess = '<span style="color: green;" class="glyphicon glyphicon-ok"></span>';

                function getCSRFToken() {
                    return $('[name=csrfmiddlewaretoken]')[0].value;
                }

                var tpl = Handlebars.compile(document.getElementById('filelist_template').innerHTML);
                Handlebars.registerPartial('filelist_row', document.getElementById('filelist_row_template').innerHTML);
                function renderTable(data) {
                    var html = tpl({
                        files: data
                    });
                    $('#filelist_container').html(html);
                    afterRender();
                }

                $.getJSON('/API/files/', function(ret) {
                    renderTable(ret);
                });


                function afterRender() {
                    $(".file_status").each(function(idx, el) {
                        var $el = $(el),
                            status = Number(el.getAttribute('data-orig-status'));
                        if (status) {
                            $el.html(htmlSuccess);
                        }
                    });


                    $(".process_button").click(function(event) {
                        var fileId = event.target.getAttribute('data-id');
                        var args = {};
                        args[fileId] = 'on';
                        args.csrfmiddlewaretoken = getCSRFToken();
                        $('#status_' + fileId).html(htmlProgress);

                        $.post('process_files', args).done(function(jsonRes) {
                            if (jsonRes.success) {
                                jsonRes.results.forEach(function(entry) {
                                    $('#status_' + entry.id).html(entry.success ? htmlSuccess : htmlFailure);
                                });
                            } else {
                                alert('error, got json response!');
                            }

                        }).fail(function(res) {
                            var $error = $(htmlError);
                            $error.attr('title', res.responseText);
                            $('#status_' + fileId).html($error);
                        });
                    });
                }
            }());
        </script>
    </body>
</html>