<html>
    <head>
        {% load static %}
        <title>Hello, world!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="{% static "collector/collector.css" %}"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                        <a class='navbar-brand' rel="nofollow" href=''>
                            File Handling Example
                        </a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                admin
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href='/logout'>Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            {% csrf_token %}
            <nav class="navbar navbar-static-top navbar-inverse"
                role="navigation" aria-label="navbar">
                <div class="container">
                    <span>
                        <a class='navbar-brand' rel="nofollow" href=''>
                            File Handling Example
                        </a>
                    </span>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                admin
                                <b class="caret"></b>
                            </a>
                        </li>
                        <li>
                            <ul class="dropdown-menu">
                                <li><a href='/logout'>Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="content container">
                <div id="filelist" >
                </div>
            </div>
            <script type="text/javascript" src="{% static "collector/ui-vue.js" %}">
            </script>
        </body>
    </html>